<%= content_tag(:h2, @team.name) %>
<% @stories.each do |story| %>
	<%= link_to story.title, story_path(story) %>
	<%= tag.br %>
	<%= button_tag "Story Details", class: "js-story-details", data: {id: story.id} %>
	<%= tag.br %>
	<div id="detail-box-<%= story.id %>">
	</div>
<% end %>

<%= join_team(@team) %>