<%= content_tag(:h2, "Welcome, #{current_user.name}") %>

<%= content_tag(:h3, "Your Stories") %>
<%= render(partial: "stories/story", collection: current_user.unique_stories) || "You haven't contributed to any stories yet." %><%= tag.br %>

<%= link_to "Stories in Need of Attention", dusty_stories_path %><%= tag.br %>
<%= link_to "Start a New Story", new_story_path %><%= tag.br %>

<%= button_tag "Show Writing Prompts", class: "js-prompts" %><%= tag.br %>
<div id="prompt_box"></div>
<%= link_to "Submit a Prompt", new_prompt_path %><%= tag.br %>

<%= content_tag(:h3, "Your Teams") %>
<%= render @teams || "You haven't joined any teams yet." %><%= tag.br %>
<%= content_tag(:h3, "Open Team Browser") %>

<%= link_to "Find a Team to Join", teams_path %><%= tag.br %>
<%= link_to "Start a Team", new_team_path %><%= tag.br %>

<%= link_to "Your Profile", user_path(current_user) %>