<%= content_tag(:h3, "Recently Updated Stories") %>
<% @recent.each do |story| %>
	<%= link_to story.title, story_path(story) %>
	<%= content_tag(:p, story.description) %>
<% end %>

<%= link_to "All Stories", stories_path %><%= tag.br %>

<%= content_tag(:h3, "Something to Write About:") %>
<div id="random_prompt">
<%= content_tag(:p, @random_prompt.content) %>
</div>
<button id="prompt_generator">Generate Another Prompt</button>