<!DOCTYPE html>
<html>
  <head>
    <title>Storyteller</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Sign Up" %> Log In or User Dashboard and Log Out
    <%= yield %>
  </body>
</html>
